div#page {
  padding: 0px!important;
}

div#intro-container{
  background: url("../../assets/main_small.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ul {
  list-style: none;
}

ul li:before {
  font-family: 'FontAwesome';
  content: '\f14a';
  margin:0 5px 0 -15px;
  color: #ffffff;
}

ul li:before {
  content: '✓ ';
}

a#checklist-management {
  color: #5dffd8;
  text-decoration: revert;
}